@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
}

section {
  background-color: #e5c30a;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
  display: flex;
  flex-wrap: wrap;
}

.img-flex {
  display: block;
  width: 100%;
  max-width: 45em;
}

.section-letter {
  width: 46%;
  padding: 1.25rem 0 0 1rem;
}

.section-icon {
  width: 46%;
  padding: 1.25rem 0 0 1rem;
}

.section-body {
  width: 85%;
}

section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5rem 0 0 1rem;
}

section p {
  font-weight: normal;
  margin: 0 0 0 1rem;
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .section-body {
    width: 90%;
  }

  .section-letter {
    width: 40%;
    margin-left: 1.3rem;
  }

  .section-icon {
    width: 40%;
    margin-left: 1rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .img-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section-letter {
    order: 1;
    padding: 0;
    margin: 1rem 0 1rem 1rem;
    width: 12%;
  }

  .section-body {
    order: 2;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60%;
  }

  section h2 {
    margin: 0;
    padding: 0;
  }

  section p {
    margin: 0;
    padding: 0;
  }

  .section-icon {
    order: 3;
    padding: 0;
    margin: 1rem 1rem 1rem 0;
    width: 12%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .section-letter {
    order: 1;
    padding: 0;
    margin: 1rem 0 1rem 1rem;
    width: 17%;
  }

  .section-icon {
    order: 3;
    padding: 0;
    margin: 1rem 1rem 1rem 0;
    width: 17%;
  }

  .section-body {
    order: 2;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
